/* Write your code here. */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.heading {
  color: #0f172a;
  font-family: "roboto";
  margin-bottom: 20px;
  margin-top: 20px;
}
.Con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.Box {
  font-family: "bree serif";
  color: #ffffff;
  margin: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Box1 {
  background-color: #fbbf24;
  width: 100px;
  height: 100px;
}
.Box2 {
  background-color: #38bdf8;
  width: 200px;
  height: 200px;
}
.Box3 {
  background-color: #ec4899;
  width: 300px;
  height: 300px;
}
.Boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .Boxes {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
